<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.08" package="com.eweware.phototoss" android:versionCode="78">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="21" />
	<application android:label="PhotoToss" android:theme="@android:style/Theme.Holo.Light.DarkActionBar" android:icon="@drawable/iconnoborder_crop">
		<activity android:name="com.facebook.FacebookActivity" android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:label="@string/app_name" />
		<activity android:name="net.hockeyapp.android.UpdateActivity" />
		<!-- Put your Google Maps V2 API Key here. -->
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBPVI-Q9zVNfIb4CjeB2Unl_xE3u0mIows" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.FLASHLIGHT" />
	<uses-permission android:name="android.permission.READ_FRAME_BUFFER" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<permission android:name="com.eweware.phototoss.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.eweware.phototoss.permission.C2D_MESSAGE" />
	<!-- Google Maps for Android v2 requires OpenGL ES v2 -->
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	<!-- Allow the application to access Google web-based services. -->
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
	<!-- Permission to receive remote notifications from Google Play Services -->
	<!-- Notice here that we have the package name of our application as a prefix on the permissions. -->
	<uses-permission android:name="com.eweware.phototoss.permission.MAPS_RECEIVE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<permission android:name="com.eweware.phototoss.permission.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
</manifest>